body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.animated-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 
        transform 0.3s ease-in-out, 
        background-color 0.3s ease-in-out, 
        box-shadow 0.3s ease-in-out, 
        color 0.3s ease-in-out;
}

.animated-button:hover {
    transform: scale(2) translateX(200px);
    background-color: #2ecc71; 
    color: black; 
    box-shadow: 0 10px 20px rgb(88, 88, 88);
}
